<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registration Page</title>
        <link rel="stylesheet" type="text/css" href="../public/css/style.css">
        <!-- TAMBAHKAN IKON -->
    </head>
    <body>
        <div class="container">
            <!-- FORM : https://docs.google.com/forms/d/1WaDdOqSXwY2T3lg8N4JAM48aqrbr98WIDys-1_-VRpc/edit -->
            <form id="registration" onsubmit="return postToGoogle();">
                <fieldset>
                    <input placeholder="Short Answer" type="text" name="entry.681977952" data-name="short-answer" id="short-answer" required>
                </fieldset>
                <fieldset>
                    <textarea placeholder="Long Answer" name="entry.1353618603" data-name="long-answer" id="long-answer" required></textarea>
                </fieldset>
                <fieldset>
                    <br><input type="radio" name="entry.2088543051" id="multiple-choice" data-name="multiple-choice" value="A" required>A<br/>
                    <br><input type="radio" name="entry.2088543051" id="multiple-choice" data-name="multiple-choice" value="B" required>B<br/>
                    <br><input type="radio" name="entry.2088543051" id="multiple-choice" data-name="multiple-choice" value="C" required>C<br/>
                    <br><input type="radio" name="entry.2088543051" id="multiple-choice" data-name="multiple-choice" value="D" required>D<br/>
                    <br><input type="radio" name="entry.2088543051" id="multiple-choice" data-name="multiple-choice" value="E" required>E<br/>
                </fieldset>
                <fieldset>
                    <button type="submit" id="registration-submit">Submit</button>
                </fieldset>
            </form>
        </div>
        <script>
            function postToGoogle() {
                const field1 = $("#short-answer").val();
                const field2 = $("#long-answer").val();
                const field3 = $("#multiple-choice").val();

                $.ajax({
                    url: "https://docs.google.com/forms/u/0/d/e/1FAIpQLSfZDTXlXVMe9f2xBRFrCiMCgBxKg0q-WbzN7gf2LzBN30Gt_w/formResponse",
                    data: {
                        "entry.681977952": field1,
                        "entry.1353618603": field2,
                        "entry.2088543051": field3
                    },
                    type: "POST",
                    dataType: "xml",
                    success: function (d) {
                        $("#registration").trigger("reset");
                    },
                    error: function (x, y, z) {
                        $("#registration").trigger("reset");
                    }
                });

                return false;
            }
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </body>
</html>