<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Registration Page</title>
        <link rel="stylesheet" type="text/css" href="../public/css/style.css">
        <!-- TAMBAHKAN IKON -->
    </head>
    <body>
        <div class="container">
            <form id="registration" action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSfZDTXlXVMe9f2xBRFrCiMCgBxKg0q-WbzN7gf2LzBN30Gt_w/formResponse" method="POST">
                <h3>Dummy Form</h3> <!-- FORM : https://docs.google.com/forms/d/1WaDdOqSXwY2T3lg8N4JAM48aqrbr98WIDys-1_-VRpc/edit -->
                <input placeholder="Short Answer" type="text" name="entry.681977952" data-name="short-answer" id="short-answer" required>
                <textarea placeholder="Long Answer" name="entry.1353618603" data-name="long-answer" id="long-answer" required></textarea>
                <br><input type="radio" name="entry.2088543051" id="multiple-choice-A" data-name="multiple-choice" value="A" required>A<br/>
                <br><input type="radio" name="entry.2088543051" id="multiple-choice-B" data-name="multiple-choice" value="B" required>B<br/>
                <br><input type="radio" name="entry.2088543051" id="multiple-choice-C" data-name="multiple-choice" value="C" required>C<br/>
                <br><input type="radio" name="entry.2088543051" id="multiple-choice-D" data-name="multiple-choice" value="D" required>D<br/>
                <br><input type="radio" name="entry.2088543051" id="multiple-choice-E" data-name="multiple-choice" value="E" required>E<br/>
                <button type="submit" id="registration-submit">Submit</button>
            </form>
        </div>
        <script>
            function redirect() {
                window.location.replace("./forms.html")
            }
        </script>
    </body>
</html>